@font-face {
    font-family: "League Spartan";
    src: url(fonts/LeagueSpartan-Bold.otf);
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: League Spartan;
    font-size: 2rem;
}

,container {
    padding: 0 1.5rem 0 1.5rem;
}

.main-box {
    display: block;
    width: auto;
    height: auto;
    background-color: #F1FAEE;
    color: #1D3557;
    /* padding: 2rem 0 1.5rem 0; */
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    -moz-box-shadow:    0px 8px 0px 0px #A8DADC;
    -webkit-box-shadow: 0px 8px 0px 0px #A8DADC;
    box-shadow:         0px 8px 0px 0px #A8DADC;
}

.progress-style {
    width: 100%;
    height: 0.5rem;
    margin: 0rem 0 1.5rem 0;
    background-color: #E63946;
}

.target-title {
    font-family: League Spartan;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.target-style {
    font-family: League Spartan;
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.operation-box {
    display: flex;
    flex-direction: row;
    margin: 0 -0.5rem;
}

.operation-options {
    flex-grow: 1;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #A8DADC;
    -moz-box-shadow:    0px 8px 0px 0px #457B9D;
    -webkit-box-shadow: 0px 8px 0px 0px #457B9D;
    box-shadow:         0px 8px 0px 0px #457B9D;
    font-family: League Spartan;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

.solution-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.25rem 0 -0.25rem;
}

.solution-item {
    width: calc(100% * 0.5 - 0.25rem * 2);
    height: 5rem;
    margin: 0.25rem;
    margin-top: 0.75rem;
    padding-top: 2rem;
    border-radius: 0.5rem;
    background-color: #457B9D;
    -moz-box-shadow:    0px 8px 0px 0px #1D3557;
    -webkit-box-shadow: 0px 8px 0px 0px #1D3557;
    box-shadow:         0px 8px 0px 0px #1D3557;
    color: #ffffff;
    font-family: League Spartan;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.submit-box {
    display: flex;
    flex-direction: row;
    margin: 1rem -0.25rem 0 -0.25rem;
}

.submit-item {
    margin: 0.25rem 0.25rem 0 0.25rem;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    background-color: #d8d8d8;
    -moz-box-shadow:    0px 8px 0px 0px #187640;
    -webkit-box-shadow: 0px 8px 0px 0px #187640;
    box-shadow:         0px 8px 0px 0px #187640;
    font-family: League Spartan;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#submit-btn {
    background-color: #27ae60;
    color: #ffffff;
    flex-grow: 2;
}

#clear-btn {
    flex-grow: 1;
    background-color: #457B9D;
    color: #ffffff;
    -moz-box-shadow:    0px 8px 0px 0px #1D3557;
    -webkit-box-shadow: 0px 8px 0px 0px #1D3557;
    box-shadow:         0px 8px 0px 0px #1D3557;
}

.new-round {
    display: none;
    margin-top: 2rem;
    text-decoration: underline;
    color: #2980b9;
    font-family: League Spartan;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: -1rem;
}

.score-style {
    margin-top: 2rem;
    font-family: League Spartan;
    font-size: 1rem;
    text-align: center;
}